@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Your Dream Wedding Awaits";
}

<main aria-labelledby="title" class="homeBody">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>Welcome to Farah Wedding Venues, where we make your dream wedding a reality. Our beautiful and meticulously maintained venues and farms offer the perfect backdrop for your special day. Whether you're envisioning a grand celebration or an intimate gathering, we have a variety of settings to suit your needs.</p>

    <p>At Farah, we understand that every detail matters. That's why we provide an extensive range of wedding dresses, ensuring every bride finds her perfect gown. Our dedicated team is here to assist you in choosing the right dress and accessories to complement your style and make you feel extraordinary.</p>

    <p>Our food and catering services are designed to delight your guests with exquisite flavors and exceptional quality. From elegant hors d'oeuvres to sumptuous main courses, our catering team will work with you to create a memorable dining experience that suits your tastes and preferences.</p>

    <p>We pride ourselves on exceptional service and personalized attention to every couple we work with. Our goal is to ensure that your wedding day is as magical and stress-free as possible. Thank you for considering Floria Wedding Venues for your special day. We look forward to being a part of your celebration!</p>
</main>
