/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-light {
    background-color: darkblue;
}

.nav-link {
    color: white;
    font-size: 19px;
}

    .nav-link:hover {
        color: aqua;
    }

.cardLogin {
    align-items: center;
    transform: translateY(-40px);
}

element.style {
    height: 650px;
}

.homeBody {
    height: 500px;
}

.bg-dark {
    background-color: #6c757d;
}

.feedbackDiv {
    width: 726px;
    text-align: center;
    border: solid 2px lightgrey;
    margin: 10px auto 10px auto;
    border-radius:5px;
}
